{% if request.user.is_authenticated %}
    <h6>{{request.user}}</h6>
    <a href=" {% url 'todo_app:logout' %}">Logout</a>
{% else %}
    <a href=" {% url 'todo_app:login' %}">Login</a>
{% endif %}
<hr>
<h2>Todo List</h2>

 <a href="{% url 'todo_app:create' %}">Add+</a>
  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th col="span-3"> Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for todo in  todos reversed %}
            <tr>
                <td>{{todo.name | title}}</td>
                <td><a href="{% url 'todo_app:detail' todo.id %}">View</a></td>
                <td><a href="{% url 'todo_app:edit' todo.id %}" class="text-warning">Edit</a></td>
                <td><a href="{% url 'todo_app:delete' todo.id %}" class="text-danger">Delete</a></td>
            </tr>
        {% endfor %}
    <tbody>
  </table>